<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>My app</title>
    
    <!-- plugins:css -->
    <link rel="stylesheet" href="{% static 'myapp/vendors/feather/feather.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/ti-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/typicons/typicons.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/simple-line-icons/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/css/vendor.bundle.base.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css' %}">
    <!-- endinject -->
    
    <!-- inject:css -->
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <!-- endinject -->
    
    <link rel="shortcut icon" href="{% static 'myapp/images/favicon.png' %}" />
</head>
<body>
    <div class="container-scroller">
        <div class="container-fluid page-body-wrapper full-page-wrapper">
            <div class="content-wrapper d-flex align-items-center auth px-0">
                <div class="row w-100 mx-0">
                    <div class="col-lg-4 mx-auto">
                        <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                            <center>
                            <div class="brand-logo">
                                <img src="" alt="logo">
                            </div>
                        </center>
                            <form class="pt-3" method="POST" action="">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" name="prenif" class="form-control form-control-lg" id="exampleInputEmail1" placeholder="Pre_NIF (0 000 000 000)" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" name="contact" class="form-control form-control-lg" id="exampleInputPassword1" placeholder="contact (+261 00 00 000 00)" required>
                                </div>
                                <div class="mt-3 d-grid gap-2">
                                    <button type="submit" class="btn btn-block btn-primary btn-lg fw-medium auth-form-btn">SUBMIT</button>
                                </div>
                            </form>
                            <br>
                           
                            <a href="{% url 'home' %}" style="text-decoration: none; display: inline-block;">
                                <h6 style="color: rgb(90, 146, 199); font-style: italic;" >s'inscrire</h6>
                            </a>
                            
                            
                             </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- plugins:js -->
    <script src="{% static 'myapp/vendors/js/vendor.bundle.base.js' %}"></script>
    <script src="{% static 'myapp/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js' %}"></script>
    <!-- endinject -->
    
    <!-- inject:js -->
    <script src="{% static 'myapp/js/off-canvas.js' %}"></script>
    <script src="{% static 'myapp/js/template.js' %}"></script>
    <script src="{% static 'myapp/js/settings.js' %}"></script>
    <script src="{% static 'myapp/js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'myapp/js/todolist.js' %}"></script>
    <!-- endinject -->
</body>
</html>
