{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mon Profil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_profil.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/personnel_form.css' %}">
    
    <style>
       
    </style>
</head>
<body>
    <header>
        {% include 'layout/navbar_Cte.html' %}
    </header>
    
    <div class="page-container">
        <div class="content-wrapper">
            <aside class="sidebar">
                {% include 'layout/sidebar_acceuil.html' %}
            </aside>
            
            <main class="main-content">
                <div class="profile-container">
                    <!-- Section photo -->
                    <div class="profile-photo">
                        <h2>Photo de Profil</h2>
                        <div class="photo-wrapper">
                            <img src="{% static 'myapp/images/faces/face6.jpg' %}" alt="Photo de profil">
                        </div>
                        <div class="description">
                            <p>Une brève description de l'utilisateur ou d'autres informations pertinentes.</p>
                        </div>
                    </div>
                    <!-- Section détails -->
                    <div class="profile-details">
                        <h2>Détails du Contribuable</h2>
                        <div class="profile-info">
                            <label>Nom:</label>
                            <p>RAHARINIRINA </p>
                        </div>
                        <div class="profile-info">
                            <label>Prénom:</label>
                            <p>Yvette Lina</p>
                        </div>
                        <div class="profile-info">
                            <label>PRENIF:</label>
                            <p>6123123123</p>
                        </div>
                        <div class="profile-info">
                            <label>Email:</label>
                            <p>raharinirinalina@gmail.com</p>
                        </div>
                        <div class="profile-info">
                            <label>Téléphone:</label>
                            <p>034 53 197 18</p>
                        </div>
                        <div class="profile-info">
                            <label>Adresse:</label>
                            <p>ANOSIZATO EST II</p>
                        </div>
                        
                        <!-- Bouton de modification -->
                        <a href="#" class="btn-modifier">Modifier Profil</a>
                    </div>
                </div>
            </main>
        </div>
    </div>
    
    <footer>
        {% include 'layout/footer_acceuil.html' %}
    </footer>
</body>
</html>
