{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec deux divs</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_logo.css' %}">
</head>
<body>
    <div class="container">
        <div class="content-div">
            <h1 class="animated-title">La Direction Générale des Impôts</h1>
            <p class="details">
                Votre Partenaire Fiscal au Service de la Nation.
                <br>
                Pour en savoir plus, cliquez ici pour visiter notre site.
            </p>
            <button class="action-button" onclick="window.location.href='https://www.impots.mg/';">Accéder à la plateforme du DGI</button>
        </div>
        <div class="image-div">
            <center>
            <img src="{% static 'myapp/images/Logo-DGI.jpg' %}" alt="Description de l'image">

            </center>
        </div>
       
    </div>
</body>
</html>
