{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec deux divs</title>
    <link rel="stylesheet" href="{% static 'myapp/css/video_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-div">
            <center>
                <video width="100%" height="auto" autoplay loop muted>
					<source src="{% static 'myapp/images/4.mp4' %}" type="video/mp4">
					Votre navigateur ne supporte pas la lecture de ce fichier vidéo.
				</video>
            </center>
        </div>
        <div class="content-div">
            <h1 class="animated-title">Votre Voix Compte</h1>
            <p class="details">
                Partagez Vos Idées et Préoccupations!
                <br>
                Cliquez ici pour soumettre vos suggestions.
            </p>
            <button class="action-button" onclick="window.location.href='https://www.mef.gov.mg';">Visitez</button>
        </div>
    </div>
</body>
</html>
