{% load static %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page avec deux divs</title>
    <link rel="stylesheet" href="{% static 'myapp/css/video_style.css' %}">
</head>
<body>
    <div class="container">
        <div class="image-div">
            <center>
                <video width="100%" height="auto" autoplay loop muted>
					<source src="{% static 'myapp/images/facebook-video-y2downloots.mp4' %}" type="video/mp4">
					Votre navigateur ne supporte pas la lecture de ce fichier vidéo.
				</video>
            </center>
        </div>
        <div class="content-div">
            <h1 class="animated-title">Votre Titre Animé</h1>
            <p class="details">
                Voici un détail ou une description concernant cette section. Vous pouvez ajouter autant de texte que vous voulez ici.
            </p>
            <button class="action-button">En savoir plus</button>
        </div>
    </div>
</body>
</html>
