{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Page d'Accueil{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
</head>
<body>
    <header>
        {% include 'layout/navbar_acceuil.html' %}
    </header>
    <div class="page-container">
        <!-- Sidebar et contenu principal côte à côte -->
        <div class="content-wrapper">
            <aside class="sidebar">
                {% include 'layout/sidebar_acceuil.html' %}
            </aside>
            <main class="main-content">
                <h1>Civisme Fiscal</h1>
                <div class="video-container">
                    <!-- Remplace 'Musique/7-F.S.C-Tsiky(2022).m4a' par le chemin de ton fichier -->
                    <video width="1100" height="315" autoplay loop muted>
                      <!-- <video width="1100" height="315" autoplay loop controls> -->
                        <source src="{% static 'myapp/video/test_civisme_fiscal.mp4' %}" type="video/mp4">
                        Votre navigateur ne supporte pas la lecture de ce fichier audio.
                      </video>
                </div>
            </main>
        </div>
    </div>
    <footer>
        {% include 'layout/footer_acceuil.html' %}
    </footer>
</body>
</html>
