{% load static %}
<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Détails des Transactions{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'myapp/css/details_style.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/style_acceuil.css' %}">
    <link rel="stylesheet" href="{% static 'myapp/css/personnel_form.css' %}">
    <style>
    </style>
</head>
<body>
    <header>
        {% include 'layout/navbar_Cte.html' %}
    </header>
    <div class="page-container">
        <div class="content-wrapper">
            <aside class="sidebar">
                {% include 'layout/sidebar_acceuil.html' %}
            </aside>
            <main class="main-content">
                <h1>Détails des Transactions</h1>
                <!-- <h3>Requête SQL :</h3>
                    <pre>{{ query }}</pre> -->

                    <div class="container">
                        <!-- Formulaire de recherche avec filtres -->
                        <form action="{% url 'filtre_detail_transaction' n_quit %}" method="GET">
                            <div class="search-container">
                                <input type="number" id="min" name="min" placeholder="MIN" value="{{ request.GET.min }}">
                                <input type="number" id="max" name="max" placeholder="MAX" value="{{ request.GET.max }}">
                                <input type="date" id="date_min" name="date_min" placeholder="Date Min" value="{{ request.GET.date_min }}">
                                <input type="date" id="date_max" name="date_max" placeholder="Date Max" value="{{ request.GET.date_max }}">
                                <button id="search-btn" type="submit">Rechercher</button>
                            </div>
                        </form>
                        
                    
                        <!-- Détails de la transaction -->
                        <table class="details-table">
                            <thead>
                                <tr>
                                    <th>Titre</th>
                                    <th>Valeur</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if transaction_details %}
                                    {% for transaction in transaction_details %}
                                        {% if forloop.first %}
                                        <!-- Détails de la première transaction (id, base, montant à payer, etc.) -->
                                        <tr>
                                            <td class="title-cell">Numéro quittance</td>
                                            <td>{{ transaction.1 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Base</td>
                                            <td>{{ transaction.7 }} .Ar</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Montant à Payer</td>
                                            <td>{{ transaction.8 }} .Ar</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Numéro impôt</td>
                                            <td>{{ transaction.11 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Impôt</td>
                                            <td>{{ transaction.12 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Impôt Détail</td>
                                            <td></td><!-- <td>{{ transaction.10 }}</td> -->
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Logiciel</td>
                                            <td>{{ transaction.14 }}</td>
                                        </tr>
                                        <tr>
                                            <td class="title-cell">Date de recouvrement</td>
                                            <td>{{ transaction.4 }}</td>
                                        </tr>
                                        {% endif %}
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">Aucun résultat trouvé.</td>
                                    </tr>
                                {% endif %}
                            </tbody>
                        </table>
                    </div>
                    
                    <br>
                    
                    <!-- Tableau des transactions -->
                    <div class="container">
                        <table class="transaction-table">
                            <thead>
                                <tr>
                                    <th>Date de Paiement</th>
                                    <th>Montant</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% if transaction_details %}
                                    {% for transaction in transaction_details %}
                                        <tr>
                                            <td class="{% if transaction.3 > transaction.4 %}color-red{% endif %}">{{ transaction.2 }}</td>
                                            <td>{{ transaction.15 }}</td>
                                        </tr>
                                    {% endfor %}
                                {% else %}
                                    <tr>
                                        <td colspan="2">Aucune transaction trouvée pour les critères spécifiés.</td>
                                    </tr>
                                {% endif %}
                                <tr>
                                    <td style="background-color: rgb(115, 148, 115); color: white;">Total renversé.</td>
                                    <td style="background-color: rgb(115, 148, 115); color: white;">1 200 000 .Ar</td>
                                </tr>
                                <tr>
                                    <td style="background-color: rgb(173, 119, 119); color: white;">Reste à payer.</td>
                                    <td style="background-color: rgb(173, 119, 119); color: white;">40 000 .Ar</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                                </main>
        </div>
    </div>
    <footer>
        {% include 'layout/footer_acceuil.html' %}
    </footer>
</body>
</html>
