<body style="background-color: white;">
  <!-- Contenu de la page ici -->
  {% load static %}
  <footer style="display: flex; flex-direction: column; align-items: center; text-align: center;">
      <div class="d-sm-flex flex-column justify-content-center">
        <br>
        <br>
        <span class="text-muted" style="font-family: 'Times New Roman', Times, serif; font-size: 14px;">
          Direction Générale des Impôts - Immeuble des Finances et du Budget Antaninarenina Antananarivo 101 - BP 863.
      </span>
      <h6 style="font-family: 'Times New Roman', Times, serif; font-size: 14px;">
          Tél: 22 335 50 / 22 287 08 - Email: <a href="mailto:dgimpots@moov.mg" style="font-family: 'Times New Roman', Times, serif;">dgimpots@moov.mg</a>
      </h6>
      <span style="font-family: 'Times New Roman', Times, serif; font-size: 14px;">
          Copyright © 2008 - 2024 DGI https://www.impots.mg . Tous droits réservés
      </span>
      <br>
      <h5 style="color: rgb(83, 83, 218); font-family: 'Times New Roman', Times, serif; font-size: 16px;">
          SUIVEZ-NOUS
      </h5>
      
          <div style="display: flex; justify-content: center; align-items: center;">
              <a href="https://www.facebook.com/www.impots.mg?ref=bookmarks"><img src="{% static 'myapp/images/logo/fb.png' %}" alt="logo" style="width: 35px; margin: 0 10px;"></a>
              <a href="https://twitter.com/impotsMada"><img src="{% static 'myapp/images/logo/x.png' %}" alt="logo" style="width: 30px; margin: 0 10px;"></a>
              <a href="https://plus.google.com/u/0/collection/MzP9cB"><img src="{% static 'myapp/images/logo/ggl.png' %}" alt="logo" style="width: 30px; margin: 0 10px;"></a>
          </div>
      </div>
  </footer>
</body>
