<head>
    <!-- Autres liens -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>

<aside class="sidebar">
    <ul>
        <li>
            <a href="#">
                <i class="fas fa-tachometer-alt sidebar-icon"></i>
                Dashboard
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-history sidebar-icon"></i>
                Historique
            </a>
        </li>
        <li>
            <a href="#">
                <i class="fas fa-chart-bar sidebar-icon"></i>
                Chart
            </a>
        </li>
    </ul>
</aside>
